@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-inter;
}
.statistic-title {
    @apply font-bold md:text-4xl text-2xl;
}

.statistic-div {
    @apply rounded-xl p-3 flex flex-col justify-center items-center gap-4;
}

.thead {
    @apply py-4 pl-4 flex   flex-1  font-semibold min-w-[50px];
}

/* Hide the scrollbar track */
::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    width: 7px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #808189;
    border-radius: 999px;
}
